{% extends "core/layout.html" %}
{% load static %}
{% block title %}MusicPro{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
<link rel="stylesheet" href="{% static 'core/css/bodeguero.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" id="btnInicio" style="color: black;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-home align-text-bottom" aria-hidden="true">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard
                        </a>
                    </li>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                        <span>Funciones</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bodeguero' %}" id="btnPagos" style="color: black;">
                            Ordenes de Compra
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bodegueroStock' %}" id="ActualizarStock" style="color: black;">
                            Actualizar Stock
                        </a>
                    </li>
                </ul>
            </div>
        </nav>



        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <H1>Menu Bodeguero</H1>

            <div id="inicio" style="display: block; margin-top: 2%;">
                <h4>Bienvenido {{request.session.nombre}}</h4>

            </div>
            <br><br>
            <!--TABLA DE PAGOS-->

            <div id="tblPagos" style="display: block;">
                <h4>Ordenes de Compra</h4>
                <p> Verifique el stock en el inventario para poder aceptar o rechazar el pedido.</p>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">#Numero de Compra</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Productos</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Cambiar estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in detalleCompra %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>#{{i.idHistorial}}</td>
                                <td>{% if i.idProducto == 1 %}
                                    Acordeon
                                    {% elif i.idProducto == 2 %}
                                    Black Metal Guitarra eléctrica
                                    {% elif i.idProducto == 3 %}
                                    guitarra 1
                                    {% elif i.idProducto == 4 %}
                                    guitarra 2
                                    {% endif %}</td>
                                <td>{{i.cantidad}} </td>
                                <td>
                                    {% if i.estadoStock == 0 %}
                                    Pendiente
                                    {% elif i.estadoStock == 1 %}
                                    Despachado
                                    {% elif i.estadoStock == 2 %}
                                    Sin Stock
                                    {% endif %}
                                </td>

                                {% if i.estadoStock != 2 %}
                                <td> <a href="{% url 'cambiarEstadoStock' i.id %}" class="btn btn-secondary"
                                        style="width: 45%;">Cambiar</a>
                                    <a href="{% url 'SinStock' i.id %}" class="btn btn-danger" style="width: 45%;">Sin
                                        Stock</a>
                                </td>
                                {% elif i.estadoStock == 2 %}
                                <td> <a href="{% url 'ConStock' i.id %}" class="btn btn-warning"
                                        style="display: flex; justify-content: center;">Con Stock</a> </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </main>
    </div>
</div>

{% endblock %}