{% extends "core/layout.html" %}
{% load static %}
{% block title %}MusicPro{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block content %}



<!--CARRUCEL-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" style="width: 100%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/img/carrucelAnuncio1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/carrucelRockeros.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/carrucelGuitarras.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!--MARKETPLACE PRODUCTOS-->

{% if request.user.is_authenticated and usuario %}
  <h1>HOLAAAA COMO ESTAY</h1>
{% else %}
  <H1>bROMITA MI REY AUTENTIQUEZE</H1>
{% endif %}
<div class="cuadroProductos">
    <h1 style="display: flex; justify-content: center; font-size: 500%;">Productos</h1>
    <div class="row row-cols-3">
    {% for i in productos %}
        <div class="col-sm-4 mb-4">
            <div class="producto">
              
              <img  id="imgPro" src="/{{i.imagen}}" class="figure-img img-fluid">
             
              <input type="hidden" id="id" name="id" value="{{i.id}}"> 
              <h4>{{i.nombre}}</h4>
              <p>precio: {{i.precio}}</p>
              <p>stock: {{i.stock}}</p>
              <a href="{% url 'producto' i.id %}" class="btn btn-secondary">Mirar producto</a>
              <a href="{% url 'Add' i.id %}" class="btn btn-secondary">Agregar al carrito</a>  
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}