{% extends "core/layout.html" %}
{% load static %}
{% block title %}MusicPro{% endblock %}
{% block head %}
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'core/css/pago.css' %}">
{% endblock %}
{% block content %}

<div id="contenido">
    <div style="width: 40%;">
        <table class="table">
            <thead>
                <tr id="columnas">
                    <th scope="col">Producto</th>
                </tr>
            </thead>
            {% if request.session.carrito.items %}
            {% for key,value in request.session.carrito.items %}
            <tbody>
                <tr>
                    <th id="producto">
                        <div class="tituloProducto">
                            <h2>{{value.nombre}}</h2>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% endif %}
        <div class="precio">

            <div class="monto">
                <br>
                <h2>Total</h2>
                <div id="total">
                    <td colspan="3">${{total_carrito}} CLP</td>
                </div>
                <td>Descuento usuario registrado: 10%</td>
                
                <div id="total">
                <td>Total a pagar:</td>
                <td colspan="3">${{totalD}} CLP</td>
                </div>
                
            </div>
        </div>
    </div>
    <form id="DatosCliente" action="/confirmarDatos/{{ usuario.email }}" method="post">
        <h2>1. Información de Pago</h2>
        {% csrf_token %}
        <div id="Formcliente" style="display: block;">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" readonly> </input>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required="" value="{{ usuario.apellido }}"
            readonly><br><br>
            <label for="email">Correo Electronico:</label>
            <input type="email" id="email" name="email" required="" value="{{ usuario.email }}"  readonly>
            <label for="rut">Rut:</label>
            <input type="text" id="rut" name="rut" required=""  maxlength="10"  ><br><br>
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono" required="" maxlength="12"
                ><br><br>
            <button type="submit" id="btn-opcion" class="btn btn-dark">Continuar</button>
            <br><br>
        </div>

        
        <h2>2. Envio</h2>
        <div id="myOption" style="display: none;">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required="">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required="" ><br><br>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required=""  >
            <label for="codigo_postal">Código Postal:</label>
            <input type="text" id="codigo_postal" name="codigo_postal" required=""><br><br>
                
            <a id="atrasEnvio" class="btn btn-dark">Atrás</a>

            <a id="btn-opcion2" class="btn btn-dark">Continuar</a>
            <br><br>
        </div>
        <h2>3. Pago</h2>
        <div id="myOption2" style="display: none;">
            <button class="btn btn-dark">Webpay</button><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIYZgSlplNsbihDH6JYCj5jtAdaZ-ATKXS9h_6wEJ8okjdZ5Wf5tfMZLjMHIuMQNMFPWY&usqp=CAU" alt=""> <br><br>
            <button type="submit" class="btn btn-dark">Transferencia</button>
        </div>




    </form>
    <script src="{% static 'core/js/alerta.js' %}"></script>
    <script src="{% static 'core/js/mostrar2.js' %}"></script>
</div>
{% endblock %}