{% extends "core/layout.html" %}
{% load static %}
{% block title %}MusicPro{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/producto.css' %}">
{% endblock %}
{% block content %}


<div id="cuadro">
    <a href="{% url 'index' %}" class="btn btn-secondary">Volver</a>
    <h1 style="display: flex; justify-content: center;">{{producto.nombre}}</h1>
    <div style="display: flex;">
        <div id="imagenProducto">
            <img id="#" src="/{{producto.imagen}}">
        </div>
        <div id="datosProducto">
            <div style="margin: 1%;">
                <h3>Descripcion</h3>
                <p>{{producto.descripcion}}</p>
                <p>Stock: {{producto.stock}}</p>
            </div>
            <div style="margin: 1%;">
                <h4>Precio: ${{producto.precio}}</h4>
                {% if i.stock > 0 %}
                <a href="{% url 'Add' i.id %}" class="btn btn-secondary"> <img
                        src="{% static 'core/img/iconcarrito.png' %}" alt="" style="width: 20px;"> Agregar al
                    carrito</a>
                {% else %}
                <a href="#" class="btn btn-danger" style="pointer-events: none;"> Sin Stock</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}