{% extends "core/layout.html" %}
{% load static %}
{% block title %}MusicPro{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                        <span>Funciones</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="btnPagos" style="color: black;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-file align-text-bottom" aria-hidden="true">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Pedidos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="btnEnvios" style="color: black;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-shopping-cart align-text-bottom" aria-hidden="true">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            Entregas
                        </a>
                    </li>
                </ul>
            </div>
        </nav>



        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <H1>Menu Vendedor</H1>

            <table class="table table-striped">
                <thead>
                    <h1>Pedidos</h1>
                    <tr>
                        <th>ID Compra</th>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th>Tipo de pago</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.id }}</td>
                        <td>{{ compra.fecha }}</td>
                        <td>
                            {% for d in detalle %}
                            {% if compra.id == d.idHistorial %}
                            {% for p in producto %}
                            {% if d.idProducto == p.id %}
                            {{ p.nombre }},
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ compra.total }}</td>
                        <td>{{ compra.get_tipoPago_display }}</td>
                        <td>
                            <button class="btn btn-success" data-action="aprobar"
                                data-pedido="{{ compra.id }}">Aprobar</button>
                            <button class="btn btn-danger" data-action="rechazar"
                                data-pedido="{{ compra.id }}">Rechazar</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No se encontraron compras.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>




        </main>
    </div>
</div>
<script src="{% static 'core/js/actualizarBodeguero.js' %}"></script>

{% endblock %}