#contenido{
    display: flex;
    justify-content: space-around;
    width: 95%;
    padding: 2%;
    margin: 5% 0% 5% 0%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: outset;
    box-shadow: 5px 5px 50px 5px rgb(44, 44, 44);
    

  }
#sidebarMenu{
    width: 20%;
    height: 100%;
    class:"col-md-3 col-lg-2 d-md-block bg-light sidebar ";
    
}
#pantalla{
    width: 80%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: outset;
    box-shadow: 5px 5px 50px 5px rgb(44, 44, 44);
    border-radius: 2%;
}
#tabla{
    width:auto;
    padding: -100%;
}
#iconoInfo{
     color: black; 
}
.container-fluid{
    height: auto;
}
                              
#botones{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 110%;
    
}
